<app-header></app-header>
<div fxLayout fxLayout="row" fxLayoutAlign="start center" style="margin: 20px 0 20px 20px;">
  <p id="reading_lamp_title" style="margin-left: 10px; width: 170px;">Our Reading L.A.M.P.</p>
  <img id="reading_lamp_icon" src="../../assets/ReadingLampIcon.png" height="50px">
</div>
<div fxLayout fxLayoutAlign="start center" style="margin: 0 0 20px 20px;">
  <!-- <mat-form-field>
    <input matInput placeholder="Search blog posts" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()">
    <input matInput placeholder="Search blog posts" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()">
    <button mat-button matSuffix *ngIf="searchText" mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
</div>
<div *ngFor="let post of blog_posts" class="blog-post-list-item" fxLayout fxLayoutAlign="left">
 
    <a *ngIf="isAuth$ | async" (click)="editBlogPost(post)" [routerLink]="['/edit-post', post.id]">
      {{ post.title }}
    </a>
</div>

<ul>
  <li *ngFor="let post of searchResults$ | async">{{ post.title }}</li>
</ul>