<section class="edit-blog-post-form" fxLayoutAlign="start stretch">
	<form (ngSubmit)="submitEditBlogPost()" [formGroup]="editPostForm">
					<mat-card fxFlex="100%;" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="start stretch">
									<mat-card-title fxLayoutAlign="left">Edit Post</mat-card-title>
									<mat-card-content fxLayoutAlign="left">
													<mat-form-field class="example-full-width" appearance="fill">
																	<mat-label>Title</mat-label>
																	<input matInput formControlName="title" placeholder="Title" [value]="blogPost.title">
													</mat-form-field>
									</mat-card-content>
									<editor apiKey="vwy4796bcb6avcevlj1mrkewobdyaczs6qkon5n6uc9fag9c" 
													matInput 
													formControlName="content" 
													placeholder="New Post" [(ngModel)]="blogPost.content"
													style="margin-top: 30px;"
													[init]="{
																height: 500,
																width: '100%',
																menubar: false,
																plugins: [
																				'advlist autolink lists link image charmap print preview anchor',
																				'searchreplace visualblocks code fullscreen',
																				'insertdatetime media table paste code help wordcount'
																],
																toolbar:
																				'undo redo | formatselect | bold italic backcolor | \
																				alignleft aligncenter alignright alignjustify | \
																				bullist numlist outdent indent | removeformat | help'
																}"
									></editor>
									<mat-card-actions fxLayoutAlign="right">
													<button mat-raised-button color="primary" type="submit">Save</button>
													<button mat-raised-button color="warn" type="button" (click)="deletePost(blogPost.id)">Delete</button>
													<!-- mat-raised-button that navigates back to / -->
													<button mat-raised-button color="primary" type="button" [routerLink]="['/']">Cancel</button>
									</mat-card-actions>
					</mat-card>
	</form>
</section>