<section *ngFor="let post of blog_posts" class="blog-post-list-item" fxLayout fxLayoutAlign="left">
    <mat-card fxFlex="600px;" fxFlex.xs="100%">
        <mat-card-title fxLayoutAlign="left">{{post.title}}</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <h3>{{post.content}}</h3>        
        </mat-card-content>
        <hr>
        <mat-card-actions fxLayoutAlign="left">
            <p>{{ post.date }}</p>
            <button *ngIf="isAuth$ | async" mat-button (click)="editBlogPost(post)" [routerLink]="['/edit-post', post.id]">Edit</button>
            <button *ngIf="isAuth$ | async" mat-button (click)="deleteBlogPost(post.id)">Delete</button>
        </mat-card-actions>
        <!-- <img src="../../assets/facebook-svg.svg">
        <button mat-icon-button (click)="tweetBlogPost(post.id)">
            <img src="../../assets/twitter-svg.svg">
        </button>
        <img src="../../assets/linkedin.svg"> -->
    </mat-card>
</section>